{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href ="{% static "css/base.css"  %}" rel="stylesheet">
    <style type="text/css">
    body{
	    background-image:url({% static "img/background.jpeg" %});
	    height:100%;
	    width:100%;}
	    </style>

  </head>
  <body>
    <div>
      <div id="header">
        <span class="logo">Jobscope</span>
      </div>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message|safe }}
            <a href="#" class="close">x</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
      <div class="content">
        {% block content%}
        {% endblock %}
      </div>
    </div> 
  </body>
</html>

