{% load i18n %}
<div class="pagination">
  <span class="step-links">
    {% if page.has_previous %}
    <a href="?page={{ page.previous_page_number }}">{% trans "Previous" %}</a>
    {% endif %}
    <span class="current">
      {% blocktrans with page=page.number total=page.paginator.num_pages %}
      Page {{ page }} of {{ total }}.
      {% endblocktrans %}
    </span>
    {% if page.has_next %}
    <a href="?page={{ page.next_page_number }}">{% trans "Next" %}</a>
    {% endif %}
  </span>
</div>


