{% extends "base2.html" %}
{% load static %}

{% block title %}
{{ service.name }}
{% endblock %}

{% block content %}
    
    <section class = "hero">
        <div class = "introduction">
            <h1><span>Jobscope </span></h1>
            <div class = "details">
                <h3>Quality affordable services at the click of a button</h3>
                <p>Worry no more, Jobscope got you covered gone are the days when you have to exhault yourself just to find
                    basic serives.With Jobscope, services are just a button away, browse our platform to book yourself a specialist now!</p>
            </div>
            <ul class = "qualities">
                <li><span>This is the fabric of our culture and the framework for all decisions made, throughout the service delivery</span></li>
                <li>Timeliness</li>
                <li>Mindfulness</li>
                <li>Authenticity</li>
            </ul>
            <p class ="motto">We take pride in our customer satisfaction!!</p>
        </div>
    </section>
    <section class = "main">
        <div class ="info-jobscope">
            <p>Techonological advancement and the shifts in generations neccessitates change in various aspects
                of the society.As the world evolves so does the need for better approaches in tackling problems as they
             arise<br>
             Jobscope, is an E-commerce based on the business-to-customer approach, linking customers to the best service
             providers in its various fields of operation.
             </p>
          </div>
    </section>
    <section class = "service-description">
</style>
        <div class = "container">
            <h3>OUR SERVICES</h3>
            <ul class = "serives">
                <li>
                    <h4>Movers</h4>
                        <p>We will neatly and carefully move your household belongings incase of a rellocation. We will do all the 
                            hard job and guaranttee the safety of your goods.
                            Fast and in time delivey of farm produce to ensure you meet your market times, cutting your losses due
                            to spoilt foodstuffs, all while ensuring the hygiene sorrounding your products its at its best.
                        </p>
                    <p></p>
                </li>
                <li>
                    <h4>Wiring and electrical services</h4>
                    Voila, Your goto electrical consultant, worry no more grub yourself the biggets deals for 
                    electrical and electronic repair.
                    Certified installation Electricity,guess what thouugh,Our charges are subsidised to favour the common man
                    <p></p>
                </li>
                <li>
                    <h4>Plumbing Services</h4>
                    No more struggles locating the right labour for you in house water management, we will deliver the best workers
                    in the market to attend to all your personalised problems.
                    <p></p>
                </li>
                <li>
                    <h4>Carpentry and Woodwork</h4>
                    We do in house customization of furniture; tables, chairs, beds name them all by a single order
                    <p></p>
                </li>
                <li>
                    <h4>Clothing and fabric repair and designing</h4>
                    Need a brand new clothe or just want to fix that favourite or maybe you want that customized fashion trend, well jobscope got you covered.Our 
                    on stand-by tailors will definetly satisfy your needs to the fullest.
                    <p></p>
                </li>
            </ul>
        </div>
    </section>
    <section class = "developers">
        <div class = "list">
            <ul>
                <li>
                    <img src ="/Images/profile.jpg" alt = "Elly">
                    <blockquote>
			    <p>Email:
			    ellyjames@gmail.com
			    Telephone:
			    0712345678
			    </p>
                    </blockquote>
                    <cite>-Elly James</cite>
                </li>
                <li>
                  <img src ="/Images/profile.jpg" alt = "Freddie">
                  <blockquote>
			  <p>Email:
			  freddrick10@gmail.com
			    Telephone:
			    0712345678
			  </p>
		  </blockquote>
                  <cite>-Freddrick Ogutu</cite>
              </li>
              <li>
                  <img src ="/Images/profile.jpg" alt = "Tom">
                  <blockquote>
			  <p>Email:
			  odhiambotom00@gmail.com
			    Telephone:
			    0712345678
			  </p>
		  </blockquote>
                  <cite>-Tom Odhiambo</cite>
              </li>
              <li>
                  <img src ="/Images/profile.jpg" alt = "Derrow">
                  <blockquote>
			  <p>Email:
			  derrick00@gmail.com
			    Telephone:
			    0712345678
			  </p>
		  </blockquote>
                  <cite>-Derrick Muturi</cite>
              </li>
            </ul>
<a href="{% url "dashboard" %}">
	<button class="sign">Dashboard</button></a>
</div>          </div>
      </div>
    </section>
{% endblock %}
