{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Dashboard{% endblock %}
{% block content %}
<section class="profile">
  <header class="profile-header">
    <div class="details">
      <h1 class="heading">Welcome, {{ request.user.username }}</h1>
      <div>
        <a href="{% url "jobscope:service_list" %}">
          <button class="sign">Services</button></a>
      </div>
      <div>
        <a href="{% url "about" %}">
          <button class="sign">About</button></a>
      </div>
      <div>
        <a href="{% url "logged_out" %}">
          <button class="sign">Logout</button></a>
      </div>
    </div>
  </header>
</section>
{% endblock %}
