{% extends "base.html" %}

{% block title %}Log-in{% endblock %}
{% block content %}
<div class="form2">
<h1>Sign up.</h1>
<p>Please, use the following form to create an account:</p>

<form id="form_content"method="post">
  {{user_form.as_p}}
  {% csrf_token %}
  <p><input class="sign" type="submit" value="Sign up"></p>
</form>
</div>

<div class="form">
<h1>Log in.</h1>
<p>Please, use the following form to log in:</p>

<form id="form_content"method="post">
  {{form.as_p}}
  {% csrf_token %}
  <p><input class="sign" type="submit" value="Log in"></p>
</form>
</div>
{% endblock %}
