@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color:#FEB1C0;
}

.profile-header {
  padding:10px;
  min-height: 60vh;
  background: #009FFF;
  background: linear-gradient(to right, #ec2F4B, #009FFF);
  color: white;
  clip-path: ellipse(100vw 60vh at 50% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  text-align: center;
}

.profile-pic {
  height: 6rem;
  width: 6rem;
  object-fit: center;
  border-radius: 50%;
  border: 2px solid #fff;
}

.location p {
  display: inline-block;
}

.location svg {
  vertical-align: middle;
}

.stats {
  display: flex;
}

.stats .col-4 {
  width: 10rem;
  text-align: center;
}

.heading {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 1rem 0;
}

.header{
  color:#5993bb;
  background-color:#5993bb;
  padding:20px;
  margin:10px;
  display:center;
  border-radius:5px;
}
  .logo{
  text-align:center;
  color:white;
  padding-left:40%;
  font-size:60px;
  font-weight:bold;
  font-style:italic;
  font-family:cursive;
  letter-spacing:3px;}
#hello:hover {
  letter-spacing: 0.8em;
  background-color: #F08C99;
}

#hello {
  color: white;
}
button {
  height: 4em;
  width: 40%;
  padding: 1.5em auto;
  margin: 1em auto;
  background-color: #FEB1C0;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  transition: all 0.2s cubic-bezier(.4,0,.2,1);
 
}
.form2{
  background-color:#5993bb;
  width:60%;
  float:left;
  color:white;
  margin-left:10px;
  border-radius: 5pxi
  padding:10px;
}
.form{
background-color:#5993bb;
color:white;
width:35%;
padding:10px;
float:right;
border-radius:10px;
margin-right: 10px;}
/* messages */
ul.messages {
    margin:10px 100px;
    padding:0;
    list-style-type:
    none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin:0;
    padding:14px 20px;
    list-style:none;
    color:#fff;
}

ul.messages li.success { background:#81ce81; }
ul.messages li.success a { color:#0ac33e; }

ul.messages li.error { background:#a30029; color:#e9828e; }
ul.messages li.error a { color:#e9828e; }

ul.messages li.info { background:#faffae; color:#696b4e; }
ul.messages li.info a { color:#1586de; }

ul.messages li.warning { background:#de9404; }
ul.messages li.warning a { color:#f49000; }

ul.messages li a.close {
    margin:0;
    float:right;
    opacity:1;
    border:0;
    box-shadow:none;
    text-shadow:none;
}
@import  url(http://fonts.googleapis.com/css?family=Ubuntu);

body { 
  margin:0;
  padding:0;
  font-family:helvetica, sans-serif; 
}

h1, h2, h3, h4, h5 , h6 { 
  font-family: 'Ubuntu', sans-serif; font-weight:normal;
}
a {
  text-decoration:none;
  color:#5993bb;
}

a:hover {
  color:#77b6e2;
}

a.button, input[type="submit"] {
    color:#fff;
    background:#5993bb;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}

a.button.light {
    color:#666;
    background:#ededed;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse; 
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr {
    background:#efefef;
}

tbody tr.subtotal {
    background:#ccc;
}

thead th, tbody tr.total {
    background:#5993bb;
    color:#fff;
    font-weight:bold;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
  height:100px;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}
ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0; 
   padding:0;
}

#header {
  padding:10px 100px;
  font-size:18px;
  overflow:auto;
}

#subheader {
  background:#ececec;
  color:#444;
  padding:15px 100px;
  overflow:auto;
}

#header .logo {
  font-family: 'Ubuntu', sans-serif;
  float:left;
  color:#333;
  font-size:28px;
  margin-right:10%;
  background-color:#4a3626;
  color:white;
  padding:10px;
}

#subheader .cart {
  float:right;
  padding-top:4px;
  background-color:#4a3626;
  padding:5px;
  border-radius:10px;
  color:white;
  font-style: italic;
  font-size:15px;
}

#content {
  padding:0 100px;
  overflow:hidden;
  background-color:#808080;
  opacity:0.9;
}

#sidebar {
  width:220px;
  padding:30px 20px 0 0;
  float:left;
}
#sidebar ul{
  margin:0;
  padding:0;
}

#sidebar ul li {
  margin:0;
  list-style:none;
  padding:10px 14px;
}

#sidebar ul li a {
  display:block;
}

#sidebar ul li.selected {
  background:#5993bb;
  border-radius:4px;
}

#sidebar ul li.selected a {
  color:#fff;
}
#main {
  float:left;
  width: 96%;
  margin-right:-220px; 
  overflow:hidden;
}
.product-list .item {
  width:23%;
  padding:10px 20px 10px 0;
  float:left;
  text-align:center;
  line-height:1.2;
}
.product-list .item img {
  width:100%;
  height:200px;
  margin-bottom:8px;
  border-radius: 50%;
  background-color:black;
  padding:5px;
}

.product-detail {
  text-align:justify;
}
.product-detail .price {
  color:#333;
  font-size:28px;
  font-weight:bold;
}
.product-detail img {
  width:50%;
  height:400px;
  float:left;
  padding:0 20px 20px 0;
}
.product-list a{
  color:white;
}

.product-detail h1 {
  margin-bottom:0;
}

.product-detail h2 {
  margin-top:10px;
}
.product-detail .price{
  color:black;
}
.product-detail p{
  color:white;
}
.pagination {
  float:right;
  margin:5px;  
}

.pagination .step-links{
  float:right;
}
.order-form {
    float:left;
}

.order-info {
    float:right;
    width:300px;
    background:#efefef;
    padding:10px 20px;
    color:#333;
    border-bottom:4px solid #5993bb;
}

.order-info h3 {
    color:#5993bb;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:14px;
}

.order-info p {
    font-weight:bold;
    float:right;
}

.order-info span {
    float:right;
}
.order-success{
  background-color:#efefef;
  padding:5px;
  margin: 5px;
  border-radius: 10px;
}
.order-success .thank{
  background-color: #5993bb;
  padding:5px;
  border-radius: 10px;
}
/* braintree hosted fields */
form div.field {
    font-size:13px;
    color:#666;
    width:300px;
    height:22px;
    margin-bottom:10px;
    padding:6px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}
.neg{
  color:#dc1616;
}
.languages {
  background-color: #4a3626;
  padding:10px;
  border-radius:10px;
   float:right;
   padding-top:4px;
   font-size:14px;
  color:white;
  font-style:italic;
}
.languages img{
  height:20px;
  border-radius:50%;
}

.languages ul {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}

.languages ul li {
    float:left;
    margin:0 0 0 10px;
    font-size:14px;
}

.languages p {
    float:left;
    margin:0;
}

.recommendations {
    clear:both;
}

.recommendations div {
    float:left;
}

.recommendations img {
    width:200px;
    height:130px
}

.recommendations p {
    clear:both;
}

.recommendations.cart {
    width:60%;
    float:left;
    overflow:auto;
}

.recommendations.cart h3 {
    margin-top:0;
}

.recommendations.cart .item {
    margin-right:10px;
}

.recommendations.cart img {
    width:120px;
}
.booked{
  background-color: white;
  padding:10px;
  border-radius: 10px;
}
.pay{
    margin-left: 100px;
}
