{% extends "shop/base.html" %}
{% load static %}

{% block title %}
 {% if category %}{{ category.name }}{% else %}Full List{% endif %}
{% endblock %}

{% block content %}
<div id="sidebar">
	<h3>Bookings</h3>
  <div class="aboutdiv">
  <div class="booked">
  <h3>My active bookings</h3>
  {% for a in booked_services %}
  <ul>
	  <li class="each">{{ a.service }}</li>
	  <a href="{{ a.get_absolute_url }}"><input class="pay" type="submit" value="Pay"></a>
  </ul>
  {% endfor %}
  </div>
  </div>

  <div class="aboutdiv">

  </div>

 </div>
<div id="main" class="product-list">
	<h1>{{ category.name }}</h1>
  {% for s in services %}
  <div class="item">
      <img style="height:100px, weight:100px" src="{% if s.image %}{{ s.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
    </a> 
    <a href="{{ s.get_absolute_url }}">{{ s.name }}</a>
    <br>
  </div>
  {% endfor %}
</div>
{% endblock %}
